flows (5).json
[{"id":"401cb612.6c97d8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"eb40f229.47ceb","type":"ibmiot out","z":"401cb612.6c97d8","authentication":"apiKey","apiKey":"37c1e9f.9a37416","outputType":"cmd","deviceId":"12345","deviceType":"New","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":180,"wires":[]},{"id":"3e4e2fe2.10616","type":"watson-speech-to-text","z":"401cb612.6c97d8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"stop, forward, backward, left, right","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"eD6TgNU8pkmUzIkA-YUGnrsxm8zs8UySM4bjyQc_md40","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/dbe32f3d-2a55-48fc-bdd9-109f1050bd75","x":360,"y":380,"wires":[["ba702963.b44368","cd4dc375.ad419","c9db77e1.a5c858"]]},{"id":"a846e8e1.a6ad98","type":"ui_microphone","z":"401cb612.6c97d8","name":"","group":"3d2c3367.7bf6cc","order":3,"width":4,"height":1,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":250,"y":460,"wires":[["3e4e2fe2.10616"]]},{"id":"ba702963.b44368","type":"debug","z":"401cb612.6c97d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":320,"wires":[]},{"id":"cd4dc375.ad419","type":"function","z":"401cb612.6c97d8","name":"","func":"var a = msg.payload.length\nmsg.payload = {\"command\": msg.payload.slice(0,a-1)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["eb40f229.47ceb","ba702963.b44368"]]},{"id":"c9db77e1.a5c858","type":"ui_text","z":"401cb612.6c97d8","group":"3d2c3367.7bf6cc","order":1,"width":0,"height":0,"name":"","label":"Voice Input","format":"{{msg.payload}}","layout":"row-center","x":690,"y":380,"wires":[]},{"id":"52bfde7c.05068","type":"ui_button","z":"401cb612.6c97d8","name":"","group":"e54461fd.7a24c","order":2,"width":6,"height":1,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"forward\"}","payloadType":"json","topic":"","x":460,"y":100,"wires":[["eb40f229.47ceb"]]},{"id":"84341478.28a788","type":"ui_button","z":"401cb612.6c97d8","name":"","group":"e54461fd.7a24c","order":7,"width":6,"height":1,"passthru":false,"label":"Backward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"backward\"}","payloadType":"json","topic":"","x":460,"y":140,"wires":[["eb40f229.47ceb"]]},{"id":"51e7b70f.864508","type":"ui_button","z":"401cb612.6c97d8","name":"","group":"e54461fd.7a24c","order":10,"width":6,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"stop\"}","payloadType":"json","topic":"","x":450,"y":180,"wires":[["eb40f229.47ceb"]]},{"id":"ea70ad37.e29d7","type":"ui_button","z":"401cb612.6c97d8","name":"","group":"e54461fd.7a24c","order":4,"width":6,"height":1,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"left\"}","payloadType":"json","topic":"","x":450,"y":220,"wires":[["eb40f229.47ceb"]]},{"id":"94470574.20abb8","type":"ui_button","z":"401cb612.6c97d8","name":"","group":"e54461fd.7a24c","order":5,"width":6,"height":1,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"right\"}","payloadType":"json","topic":"","x":450,"y":260,"wires":[["eb40f229.47ceb"]]},{"id":"37c1e9f.9a37416","type":"ibmiot","name":"API Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3d2c3367.7bf6cc","type":"ui_group","name":"Voice Control","tab":"52db9567.717b2c","order":1,"disp":true,"width":10,"collapse":false},{"id":"e54461fd.7a24c","type":"ui_group","name":"Button Control","tab":"52db9567.717b2c","order":2,"disp":true,"width":12,"collapse":false},{"id":"52db9567.717b2c","type":"ui_tab","name":"ROS","icon":"dashboard","order":26,"disabled":false,"hidden":false}]